//----------------------------HEDER----------------------------------
$bgcol-dg: darkgreen;
$colname-bisq: bisque;
$linka-lemonchif: lemonchiffon;
$col_a_link-lemonchif: lemonchiffon;
$bgcol_a_hov-bisque: bisque;
$col_a_hov-dg: darkgreen;

//-----------------------------MAINBODY------------------------------
$genopis_bg-bsq: bisque;
$p_color-dg: darkgreen;
$ul_li_col-dg: darkgreen;

//-----------------------------FOOTER--------------------------------
$foot_Bg-dg: darkgreen;
$footer_col-black: black;