*{
  box-sizing: border-box;
}

.hederOpis {
  display: inline-block;
  width: 100%;
  background-color: $bgcol-dg; //darkgreen     (dg)
}

.name {
  text-align: center;
  color: $colname-bisq; //bisque
  margin: 20px;
  font-size: 4em;
}

.link a {
  display: block;
  padding: 30px;
  text-align: center;
  color: $linka-lemonchif; //lemonchiffon   (lemonchif)
  text-decoration: none;

}

a:link {
  color: $col_a_link-lemonchif; //lemonchif
}

a:hover {
  background-color: $bgcol_a_hov-bisque; //bisque
  color: $col_a_hov-dg; //dg
}
